/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.user-images {
  width: 225px;
  height: 225px;
  object-fit: cover;
}

@media (max-width: 450px) {
  .user-images {
    width: 100%;
    height: auto;
  }
  .profile-image {
    width: 100%;
  }
}